body {
  background-color: #5a5b65;
}

.page-header {
  text-align: center;
  font-size: 100px;
  color: #FFDE00;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn {
  border-style: solid;
  border-width: thick;
  border-color: #b24df5;
  border-radius: 25px;
  background-color: #FFDE00;
  color: #4657d7;
  margin: 10px;
  padding: 15px;
  width: 300px;
  font-size: 35px;
}